<form>

  <div class="dx-field">
    <div class="dx-field-label">ESTADOS</div>
    <div class="dx-field-value">
      <dx-select-box
        [width]="widthEstado"
        displayExpr="getDisplayValue"
        [items] = "estadoArray"
        (onValueChanged) = "onValueChangedEstado($event.value)"
        [value]="estadoPadrao"
      ></dx-select-box>
    </div>
  </div>

  <div class="dx-field">
    <div class="dx-field-label">MUNICIPIO</div>
    <div class="dx-field-value">
      <dx-select-box
        [dataSource]  = " municipioArray "
        [width]="widthMunicipio"
        valorExpr = "id"
        displayExpr= "nome"
        [searchEnabled]="true"
        label = "Municipio"
        [dropDownOptions]="dropDownOptions"
        labelMode="floating"
        (onValueChanged)="onValueChangedMunicipio($event.value)"
      ></dx-select-box>
    </div>
  </div>

</form>
