<h5>Produtos</h5>
<div>
  <dx-data-grid
    id="gridProdutos"
    [dataSource]="dataSource"
    keyExpr="id"
    [showBorders]="true"
  >
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowAdding]="true"
      [allowDeleting]="true"
    >
      <dxo-popup
        title="Produtos"
        [showTitle]="true"
        [width]="700"
        [height]="400"
      >
      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
          <dxi-item dataField="codigo"></dxi-item>
          <dxi-item dataField="descricao"></dxi-item>
          <dxi-item dataField="valorUnitario"></dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxi-column dataField="codigo" caption="Codigo"></dxi-column>
    <dxi-column dataField="descricao" caption="Descrição"></dxi-column>
    <dxi-column dataField="valorUnitario" caption="Valor Unitário"></dxi-column>

    ></dx-data-grid>
</div>

