<!--<header>-->
<!--  Access-Control-Allow-Origin:'http://localhost:4200'-->
<!--</header>-->

<h5>Clientes</h5>
<div>
  <dx-data-grid
    id="gridCliente"
    [dataSource]="clientes"
    keyExpr="id"
    [showBorders]="true"
    (onSaved)="onSavedCliente($event)"
  >
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowAdding]="true"
      [allowDeleting]="true"
    >
      <dxo-popup
        title="Clientes"
        [showTitle]="true"
        [width]="700"
        [height]="300"
      >
      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
          <dxi-item dataField="codigo"></dxi-item>
          <dxi-item dataField="nome"></dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxo-sorting mode="single"></dxo-sorting>
    <dxi-column dataField="codigo" caption="Codigo" sortOrder="asc">
      <dxi-validation-rule type="required" message="Por favor, preencher codigo do Cliente"></dxi-validation-rule>
    </dxi-column>

    <dxi-column dataField="nome" caption="Nome">
      <dxi-validation-rule type="required" message="Por favor, inserir nome do Cliente"></dxi-validation-rule>
      <dxi-validation-rule type="stringLength" [min]="3" message="Por favor, inserir no minimo 3 caracteres"></dxi-validation-rule>
    </dxi-column>

   ></dx-data-grid>
</div>
